* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    justify-content: center;
}

body {
    background-color: bisque;
}

.myform {
    display: flex;
    margin: 1rem 1.25rem;
    padding: 0.1rem;
    font-size: large;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    background-color: aquamarine;
    border: none;
    text-transform: capitalize;
    font-size: x-large;
}